header {
  color: #FFF;
  padding-left: 20px;
}

body {
  background-image: url('http://3.bp.blogspot.com/-jaDdRL1RJMQ/UboWs_b4fcI/AAAAAAAAAI8/ea088oLKgyo/s1600/saar-river-near-saarlouis-full-HD-nature-background-wallpaper-for-laptop-widescreen.jpg');
  background-repeat: no-repeat;

}

.container {
  margin-left: 180px;
  margin-top: 5px;
  overflow: auto;
  height: 500px;
}

#arrayDiv { 
  padding: 10px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
  background-color: #D1E1EC;
  box-shadow: 3px 3px #ABA9A9;
  opacity: 0.85;
}

ul li {
  display: inline;
  padding-right: 15px;
}

ul {
  margin: 5px;
}

.inBox {
  float: left;
  border: 1px solid white;
  font-family: Gill Sans, sans-serif, cursive;
  background-color: #E2E8EB;
  padding: 15px;
}

.inBox li:hover{
  color: #989393;
}
#compose {
  border: 2px solid red;
  box-shadow: 3px 3px 3px #ABA9A9;
  padding: 10px 30px;
  background-color: #BA2222;
  border-radius: 7px;
  font-weight: bold;
} 

#mailSender {
  font-family: Gill Sans, sans-serif, cursive;
  font-style: normal;
  margin: 0px;
}

#mailSubject {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

#mailDate {
  font-size: 12px;
  margin: 0px;
  float: right;
}

#mailBody {
  margin: 10px 25px;
  font-size: 13px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #E2E8EB;
}

#clickMe {
  position: right;
  background-color: #4D4950;
  color: #fff;
  box-shadow: 3px 3px #ABA9A9;
  margin-left: 85%;
 
}